.fonte-titulo {
    font-family: 'Pacifico', cursive;
}
.cor-especial{
    color: darkred !important;
}
.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.letra{
    font-size: 22px;
}
.botao-cor-especial{
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}
.card-imagem-posicao {
    height:200px;
    object-fit:cover;
    object-position: 0 60%;
}
.card-largura {
    width: 18rem;
}
